@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.sessions {
  .nav-panel {
    position: relative;
    margin-bottom: 60px;
  }
  .sessions-form {
    h2 {
      margin-bottom: 40px;
      color: #2d2d2d;
      font-family: Montserrat;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 113.9%;
      letter-spacing: 0.75px;
    }
    a {
      color: #2d2d2d;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 107.613%;
      transition: transform 2s, color 2s;
      display: block;
      &:hover {
        transform: scale(1.2);
        color: #615f5f;
      }
    }
    form {
      width: 50%;
      div {
        margin-bottom: 40px;
        position: relative;
        input {
          color: #c4c4c4;
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 113.9%;
          border: none;
          border-bottom: 1px solid #dadada;
          border-color: #dadada;
          border-radius: 0px;
        }

        i {
          position: absolute;
          display: block;
          top: 1px;
          right: 5px;
          cursor: pointer;
        }
      }
      .button {
        background: #2d2d2d;
        color: #fff;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 113.9%;
        letter-spacing: 0.48px;
        padding: 10px;
      }
    }
  }
}
